<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:if="${activeTab == 'stats'}" id="dashboardStats" th:fragment="stats">
        <div id="canvas-holder" style="width:100%">
            <div class="centered"><h3>Proportion of classified posts/Quantity</h3></div>
            <canvas id="pieChart"></canvas>
            <div class="centered"><h3>Number of posts in the past twelve months</h3></div>
	        <canvas id="barChart"></canvas>
        </div>
        <script src="/custom/dashboard-charts.js"></script>
        <script src="/custom/randomColor.min.js"></script>
    </div>
</body>
</html>